.card {
 width: 190px;
 height: 254px;
 border-radius: 20px;
 background: url('https://github.com/JPN-Street/website/blob/main/%E5%A8%AF%E6%A5%BD.png?raw=true') center/cover;
 position: relative;
 padding: 1.8rem;
 border: 2px solid #c3c6ce;
 transition: 0.5s ease-out;
 overflow: visible;
}

.card-details {
 color: white;
 height: 100%;
  gap: .5em;
　text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影を追加 */
　font-weight: bold; /* 太字 */
  font-size: 1.2em; /* 適切なフォントサイズ */
  display: flex;
  flex-direction: column; /* テキストを縦に配置 */
  justify-content: flex-start; /* 上端に配置 */
  align-items: flex-start; /* 左端に配置 */
  padding: 1rem;
}

.card-button {
 transform: translate(-50%, 125%);
 width: 60%;
 border-radius: 1rem;
 border: none;
 background-color: #62AD92;
 color: #fff;
 font-size: 1rem;
 padding: .5rem 1rem;
 position: absolute;
 left: 50%;
 bottom: 0;
 opacity: 0;
 transition: 0.3s ease-out;
}

.text-body {
 color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
 font-size: 1.5em;
 font-weight: bold;
}

/*Hover*/
.card:hover {
 border-color: #62AD92;
 box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.card:hover .card-button {
 transform: translate(-50%, 50%);
 opacity: 1;
}